cmake-build-develop
cmake-build-debug
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Doxyfile
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake

*.a

settings.json
build
build-arm
.idea
.vscode

__pycache__

*.elf
venv
